body {
  background: #ffffff;
  color: #444;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  height: 100%;
  margin: 0;
  padding: 0; }

.body--full-height {
  height: 100%; }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

a {
  text-decoration: none; }

/*
  Home 2017
*/
.home__hero-image {
  background: url("../img/home-hero-image.png") center right no-repeat;
  background-size: cover;
  display: block;
  height: calc(100vh);
  width: 100%; }

.hero__copy-container {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.hero__copy--top {
  color: #ffffff;
  font-size: 3.5rem; }

.hero__copy--bottom {
  color: #ffffff;
  font-family: 'Rokkitt', serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #000; }

.hero__button-container {
  font-size: 1.5rem;
  display: block; }
  .hero__button-container a {
    display: table;
    margin: 0 auto; }
    .hero__button-container a span {
      display: table-cell;
      vertical-align: middle; }
      .hero__button-container a span img {
        margin-left: 0.5rem;
        margin-top: 0.15rem; }

.home__media-block--one {
  background-size: cover;
  background: url("../img/home-media-block-one.png") center right no-repeat;
  border-bottom: solid 4px #DBBFFF;
  height: 620px;
  width: 100%; }

/*
  Global Elements 2017
*/
h1, h2, h3 {
  font-family: rokkitt; }

.header__wrapper {
  padding-top: 8rem;
  text-align: center; }
  .header__wrapper h1 {
    color: #6336A0;
    font-family: rokkitt;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0; }
    @media only screen and (max-width: 30em) {
      .header__wrapper h1 {
        font-size: 2rem; } }
  .header__wrapper h1:before {
    content: "";
    background: red;
    height: 20px;
    width: 100%; }
  .header__wrapper h1 + p {
    margin: 1rem 0; }
  @media only screen and (max-width: 30em) {
    .header__wrapper {
      padding: 0.5rem;
      padding-top: 8rem; } }

.button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.75rem 2rem; }

.button--small {
  font-size: 1rem;
  padding: 0.75rem  1rem 0.5rem; }

.button--purple {
  background: #6336A0;
  border: 1px solid #DBBFFF;
  color: #ffffff; }
  .button--purple:hover {
    background: #341c54; }

.hidden {
  display: none; }

/*
  New Navigation 2017
*/
.new__logo-container {
  left: 0;
  position: fixed;
  top: 1rem;
  z-index: 101; }
  .new__logo-container img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 235px; }
  .new__logo-container img.smaller {
    width: 175px; }
  @media only screen and (max-width: 30em) {
    .new__logo-container img {
      width: 175px; } }

.new__menu-button {
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -ms-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10rem;
  color: #6336A0;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 1rem 0.75rem;
  position: fixed;
  right: 1%;
  top: 1.5rem;
  z-index: 101; }
  .new__menu-button:hover {
    background: white;
    box-shadow: 0 1px 3px #333; }
  @media only screen and (max-width: 30em) {
    .new__menu-button {
      top: 1rem; } }

.new__menu-button--smaller {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.5rem; }
  .new__menu-button--smaller img {
    width: 21px; }

.new__menu-button--white {
  color: #ffffff; }

.new__menu-button--purple {
  color: #6336A0; }

.new__nav {
  -webkit-transition: background .5s ease-out;
  -moz-transition: background .5s ease-out;
  -o-transition: background .5s ease-out;
  transition: background .5s ease-out;
  background: rgba(255, 255, 255, 0.6);
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15rem;
  position: fixed;
  right: 0;
  text-align: right;
  top: 1rem;
  width: 100%;
  z-index: 100; }
  .new__nav li {
    padding: 1.5rem 0; }
    .new__nav li a {
      color: #6336A0;
      padding: 0.5rem 1rem; }
      .new__nav li a:hover {
        color: #341c54; }
    @media only screen and (max-width: 30em) {
      .new__nav li {
        padding: 1.5rem; } }
  .new__nav:hover {
    background: white; }

.new__nav--show {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around; }

.new__close-button {
  cursor: pointer;
  position: fixed;
  right: 18px; }

/*
  Mobile
*/
@media only screen and (max-width: 30em) {
  .new__nav {
    background-color: #ffffff;
    box-shadow: 0 3px 1rem #333;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 95%;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    left: 0;
    margin: 1rem auto;
    padding: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 95%;
    z-index: 101; }

  .new__close-button {
    top: 0; } }
  @media only screen and (max-width: 30em) and (max-width: 30em) {
    .new__close-button {
      top: 25px; } }

/*
  Top Shots Grid
*/
.top-shot__grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around; }
  @media only screen and (max-width: 30em) {
    .top-shot__grid {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.top-shots__grid--cell {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 640px;
  margin: 5px; }
  .top-shots__grid--cell img {
    width: 100%;
    border: solid 1px #dedede;
    border-radius: 0.25rem; }
    .top-shots__grid--cell img:hover {
      -webkit-transition: 0.5s ease-out;
      -moz-transition: 0.5s ease-out;
      -ms-transition: 0.5s ease-out;
      -o-transition: 0.5s ease-out;
      transition: 0.5s ease-out;
      position: relative;
      box-shadow: 0 0.25rem 0.5rem rgba(52, 28, 84, 0.5);
      cursor: pointer; }
  .top-shots__grid--cell:nth-child(even) {
    -webkit-animation-delay: 2s;
    animation-delay: .1s; }

.css-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .css-flex div {
    margin-right: 0.5rem; }
    .css-flex div img {
      width: 100%; }
  .css-flex:last-child {
    margin-bottom: 2rem; }
  @media only screen and (max-width: 30em) {
    .css-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

/*
  Portfolio
*/
.gray-background {
  background: url("../img/designs/background-gray.png") no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 840px; }
  @media only screen and (max-width: 30em) {
    .gray-background {
      background-position: center center; } }

.portfolio__container--1col {
  text-align: center; }
  @media only screen and (max-width: 30em) {
    .portfolio__container--1col {
      padding: 0.5rem; } }
  .portfolio__container--1col h2 {
    color: #7b48c1;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 4rem 0 0.5rem;
    padding-bottom: 0; }
    @media only screen and (max-width: 30em) {
      .portfolio__container--1col h2 {
        font-size: 2rem; } }
  .portfolio__container--1col h2 + p {
    margin: 0 0 1rem 0;
    font-size: 1rem; }
  .portfolio__container--1col img {
    width: 100%;
    max-width: 1006px; }

.portfolio__container--1col > .css-flex {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }
  @media only screen and (max-width: 30em) {
    .portfolio__container--1col > .css-flex {
      flex-direction: column; } }

.portfolio-description {
  text-align: left;
  max-width: 550px;
  width: 100%;
  margin: 5rem auto 3rem; }
  .portfolio-description h2 {
    color: #6336A0;
    display: block;
    font-family: "Josefin Sans", sans-serif; }
  .portfolio-description p {
    margin-bottom: 4rem;
    line-height: 2rem; }
  @media only screen and (max-width: 30em) {
    .portfolio-description {
      padding: 0 1.5rem; } }

.portfolio-back {
  font-size: 14px;
  position: fixed;
  right: 1rem;
  text-align: center;
  top: 6rem; }
  .portfolio-back a {
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -ms-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
    color: #6336A0;
    background: rgba(255, 255, 255, 0.7);
    padding: 0.75rem 1rem 0.5rem;
    border-radius: 2rem;
    border: solid 1px #ffffff; }
    .portfolio-back a:hover {
      background-color: #ffffff; }
  @media only screen and (max-width: 30em) {
    .portfolio-back {
      bottom: 1rem;
      left: 0;
      margin: auto;
      right: 0;
      top: inherit; } }

.profile__container {
  border: solid 1px #979797;
  max-width: 420px;
  padding: 4rem; }

.profile__avatar {
  width: 100px;
  height: 100px; }

.story {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media only screen and (max-width: 30em) {
    .story {
      flex-direction: column; } }

.story__image {
  width: 450px; }
  .story__image img {
    width: 100%; }
  @media only screen and (max-width: 30em) {
    .story__image {
      width: 100%; } }

.story__copy {
  flex: 1; }

/*
  Snippet Container
*/
.snippet__container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto 2rem auto; }

/*
  Contact
*/
.contact-container {
  width: 500px;
  padding: 1rem;
  margin: 0 auto; }
  .contact-container label {
    display: block; }
  .contact-container .text-input {
    font-size: 1rem;
    width: 100%;
    line-height: 24px;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    border: solid 1px #dadada; }
  .contact-container .button {
    padding: 0.75rem 1rem 0.5rem;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif; }

/*
  Footer
*/
footer {
  background-color: #341c54;
  bottom: 0;
  color: #DBBFFF;
  position: relative;
  width: 100%;
  padding: 0.5rem 0; }

.footer__icon-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer__icon-container div {
    font-size: 16px;
    padding: 3px 0.5rem 2px; }
  @media only screen and (max-width: 30em) {
    .footer__icon-container {
      flex-direction: column; }
      .footer__icon-container div {
        font-size: 21px;
        padding: 1rem 0; }
      .footer__icon-container img {
        width: 35px; } }
